<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TWIG</title>
    <link rel="stylesheet" href="css.css">
</head>

<body>
    <div class="content">
        <div class="header">
            <div class="task"><a href="index.php">Задание к уроку №3</a></div>
            <ul class="menu">
                <li><a href="index.php">На главную</a></li>
                <li><a href="">Галерея</a>
                    <ul>
                        <li><a href="{{ link0 }}">{{foto1}}</a></li>
                        <li><a href="{{link1}}">{{foto2}}</a></li>
                        <li><a href="{{link2}}">{{foto3}}</a></li>
                        <li><a href="{{link3}}">{{foto4}}</a></li>
                        <li><a href="{{link4}}">{{foto5}}</a></li>
                        <li><a href="{{link5}}">{{foto6}}</a></li>
                        <li><a href="{{link6}}">{{foto7}}</a></li>
                        <li><a href="{{link7}}">{{foto8}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="main">